In [213]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

In [214]:
# chargement des donnees 
data = pd.read_csv("Data/nflx_data.csv", parse_dates=True)
data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-05-23 00:00:00-04:00,0.115643,0.124286,0.114571,0.119643,1047900000,0.0,0.0
1,2002-05-24 00:00:00-04:00,0.121429,0.122500,0.119714,0.121000,111048000,0.0,0.0
2,2002-05-28 00:00:00-04:00,0.121357,0.123214,0.115714,0.115714,66094000,0.0,0.0
3,2002-05-29 00:00:00-04:00,0.116429,0.116429,0.108571,0.110357,67578000,0.0,0.0
4,2002-05-30 00:00:00-04:00,0.110786,0.110786,0.107143,0.107143,101542000,0.0,0.0

In [215]:
data.shape

(5966, 8)

In [216]:
# control des donnees manquantes 
data.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [217]:
# control des lignes dupliquee
data[data.duplicated()]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [218]:
# control de la colonne dividente 
data.Dividends.value_counts()

Dividends
0.0    5966
Name: count, dtype: int64

In [219]:
# retrait de la colonne dividente 
data = data.drop(columns="Dividends")

In [220]:
# control de la colonne Stock Splits
data["Stock Splits"].value_counts()

Stock Splits
0.0     5963
2.0        1
7.0        1
10.0       1
Name: count, dtype: int64

In [221]:
# retrait de la colonne # retrait de la colonne Stock Splits
data = data.drop(columns="Stock Splits")

In [222]:
data.head()

,Date,Open,High,Low,Close,Volume
0,2002-05-23 00:00:00-04:00,0.115643,0.124286,0.114571,0.119643,1047900000
1,2002-05-24 00:00:00-04:00,0.121429,0.122500,0.119714,0.121000,111048000
2,2002-05-28 00:00:00-04:00,0.121357,0.123214,0.115714,0.115714,66094000
3,2002-05-29 00:00:00-04:00,0.116429,0.116429,0.108571,0.110357,67578000
4,2002-05-30 00:00:00-04:00,0.110786,0.110786,0.107143,0.107143,101542000

In [223]:
data.to_csv("Data/clean.csv", index=False)